#home-hero {
  position: absolute;
  width: 100%;
  height: 800px;
  top: 0;
  left: 0;
  z-index: 0;
  background-position: center 60px;
  text-align: center;
  height: 100%;
  @include retina-image('/wp-content/themes/blankslate/images/home-hero', cover);

  @include media($medium-screen-up) {
    height: 800px;
    background-position: center;
  }

  canvas {
    position: absolute;
    left: 0;
    @include background-image(linear-gradient($blue 0, transparent 50%));
  }

  &:before {
    @include retina-image('images/wave-header-bottom', 100%);
    content: '';
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
    width: 100%;
    height: 40px;
    float: left;
    position: absolute;
    bottom: 0;
    left: 0;

    @include media($medium-screen-up) {
      height: 99px;
    }
  }

  #site-description {
    text-align: center;
    width: 100%;
    margin-top: 120px;
    color: $white;
    text-transform: uppercase;
    margin-bottom: $gutter-scale-size;
    position: absolute;
    z-index: 1;
    left: 0;
    padding: 0 $base-pixel-gutter;

    @include media($medium-screen-up) {
      margin-top: $bottom-vh;
      position: static;
      padding: 0;
    }
  }

  p {
    line-height: 0;
    text-align: center;
  }

  > .container {
    position: absolute;
    bottom: $large-pixel-gutter;
    width: 100%;

    @include media($medium-screen-up) {
      position: static;
    }
  }

  .cta {
    @include span-columns(12);

    &:first-child {
      margin-bottom: $base-pixel-gutter;
    }

    .button {
      @include large-button($white, $dark-navy);
      width: 100%;
      padding-left: 0;
      padding-right: 0;
    }


    @include media($medium-screen-up) {
      @include span-columns(4);

      &:first-child {
        @include shift(2);
      }
    }
  }
}

#home-leadin {
  margin-top: 720px;
  padding-top: 0;
  padding-bottom: 100px;
  text-align: center;

  .signup {
    @include base-button($red, $white);
    @include background-image(linear-gradient($light-red 0, $red 50%));
    width: 100%;
    margin-bottom: 70px;
  }

  p {
    font-size: $large-font-size;
    line-height: $large-font-line-height;
    max-width: 750px;
    margin: 0 auto;
  }

  @include media($medium-screen-up) {
    margin-top: 740px;
    padding-top: 170px;
    padding-bottom: 170px;
  }
}

#home-anchors {
  background: $blue;
  color: $white;
  display: none;
  height: 74px;
  z-index: 1;

  &:before {
    background: $blue;
    height: 74px;
    content: "";
    float: left;
    width: 100%;
    position: absolute;
    z-index: 10;
    left: 0;
  }

  ul {
    text-align: center;
    position: absolute;
    z-index: 30;
    margin: 0 auto;
    left: 0;
    right: 0;
    padding-top: 25px;
  }

  li {
    display: inline;
    margin-right: $gutter-scale-size;

    &:hover {
      cursor: pointer;
    }

    a {
      color: $white;
    }

    &:before {
      content: "2";
      border: 1px solid $white;
      padding: 5px;
      border-radius: 20px;
      height: 25px;
      width: 25px;
      display: inline-block;
      margin-right: $tiny-gutter-scale-size;
    }

    &:first-child {
      &:before {
        content: "1";
      }
    }

    &:last-child {
      margin-right: 0;
      &:before {
        content: "3";
      }
    }
  }

  @include media($medium-screen-up) {
    display: block;
  }
}

#home-squares {
  max-width: none;
  padding: 0;

  .square-row {
    @include outer-container;
    background-position: center top;
    max-width: none;
    background-repeat: no-repeat;
    padding-top: $x-large-scale-size;

    > div {
      padding: $large-gutter-scale-size $gutter-scale-size 0 0;
      margin: 0;
      width: 100%;

      @include media($medium-screen-up) {
        height: $base-scale-size;
        width: 50%;
      }
    }

    .img-block {
      display: none;

      @include media($medium-screen-up) {
        display: block;
      }
    }

    .text-block {
      background-color: $white;
      padding: $large-gutter-scale-size/2 $gutter-scale-size;

      h2 {
        margin-bottom: $small-gutter-scale-size;
        max-width: 450px;
      }

      p {
        font-size: $block-font-size;
        line-height: $block-line-height;
        max-width: 450px;

        @include media($medium-screen-only) {
          font-size: $base-font-size;
          line-height: $base-line-height;
        }
      }

      .button {
        @include base-button($navy, $white);
        @include linear-gradient(45deg, $light-blue 0%, $blue 50%);
        width: 100%;
        text-align: center;

        @include media($medium-screen-up) {
          width: auto;
        }

        &:hover {
          @include linear-gradient(45deg, $light-blue 0%, $blue 20%);
        }
      }


      @include media($medium-screen-up) {
        padding-left: $gutter-scale-size;
        margin-top: 0;
      }
    }

    &:first-child {
      @include retina-image('images/block-underwater', 100%);

      @include media($medium-screen-up) {
        background-position: right center;
      }
    }

    &:nth-child(2) {
      @include retina-image('images/block-overshoulder', 100%);

      @include media($medium-screen-up) {
        background-position: left center;
      }
    }

    &:last-child {
      @include retina-image('images/block-baby', 100%);

      @include media($medium-screen-up) {
        background-position: right top;
      }
    }

    @include media($medium-screen-up) {
      background-size: 55vw auto!important;
      height: $base-scale-size;
      padding-top: 0;
    }
  }
}

#mobile-app {
  max-width: none;
  color: $white;
  @include retina-image('images/mobile-app-phone', $base-scale-size);
  background-position: center 280px;
  background-repeat: no-repeat;
  padding-top: $large-gutter-scale-size;
  padding-bottom: $large-gutter-scale-size;
  @include linear-gradient(to top, $blue, $navy);

  > div {
    @include media($medium-screen-up) {
      margin-top: $large-gutter-scale-size;
    }
  }

  .left {
    @include media($medium-screen-up) {
      padding-right: $large-gutter-scale-size;
      padding-left: $gutter-scale-size;
      text-align: right;

      .textbox {
        padding-top: $gutter-scale-size;
        @include background-image(url("images/curved_arrow.png"), transparent);
        background-repeat: no-repeat;
        overflow: visible;
        background-position: right 20px;
        background-size: 40%;

        h2 {
          margin-top: $gutter-scale-size;
          padding-top: $small-gutter-scale-size;
        }

        @include media($medium-screen-only) {
          padding-top: $gutter-scale-size;
          background: none;

          h2 {
            margin-top: 0;
          }
        }
      }
    }
  }

  .right {
    margin-top: $x-large-scale-size;

    @include media($medium-screen-up) {
      padding-left: $large-gutter-scale-size;
      padding-right: $gutter-scale-size;
      padding-top: $gutter-scale-size;
      margin-top: $gutter-scale-size;

      @include media($medium-screen-only) {
        margin-top: $small-gutter-scale-size;
        padding-top: 0;
      }

      .textbox:first-child {
        margin-top: $gutter-scale-size;
      }
    }

  }

  .textbox {
    margin-bottom: $large-gutter-scale-size/2;
  }

  h2 {
    margin-bottom: $tiny-gutter-scale-size;
    max-width: 450px;
  }

  p {
    margin: 10px 0 15px;
    max-width: 450px;
  }

  a {
    color: $white;
    font-size: $small-font-size;
    font-weight: bold;
    @include base-button(transparent, $white);
    border: 1px solid $light-blue;
    padding: 15px;
  }

  @include media($medium-screen-up) {
    height: 74vw;
    @include retina-image('images/mobile-app-phone', $small-scale-size);
    padding: 0;
    background-position: center;

    h2 {
      margin-bottom: $tiny-gutter-scale-size;
      max-width: 450px;
    }

    p {
      margin: 0 0 $small-gutter-scale-size 0;
    }
  }
}

#testimonials {
  text-align: center;
  padding: $large-gutter-scale-size 0;
  position: relative;

  .slick-arrow {
    position: absolute;
    top: 25%;

    &.prev-slide {
      left: $small-gutter-scale-size;
    }

    &.next-slide {
      right: $small-gutter-scale-size;
    }

    img {
      width: $gutter-scale-size;

      @include media($medium-screen-up) {
        width: auto;
      }
    }

  }

  .slick-dots {
    width: 100%;
    margin-top: $gutter-scale-size;

    button {
      display: none;
    }

    li {
      background: $gray-c;
      width: 3px;
      height: 3px;
      border-radius: 10px;
      margin-right: $gutter-scale-size;
      display: inline-table;

      &.slick-active {
        background: $red;
      }

      &:last-child {
        margin: 0;
      }
    }
  }

  p {
    line-height: $large-font-line-height;
    font-size: $large-font-size;
    color: $red;
    padding: 0 $large-gutter-scale-size;
    margin: 0 auto;
  }

  .quoter {
    font-size: $small-font-size;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: $small-gutter-scale-size;
  }

  @include media($medium-screen-up) {
    p {
      max-width: 800px;
      padding: 0;
    }
  }
}