html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-size: 14px;
  font-family: "museo-sans";
  color: #636367; }

#wrapper {
  padding: 0 20px; }

.container {
  max-width: 68.75em;
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 60px; }
  .container::after {
    clear: both;
    content: "";
    display: table; }

.left {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%; }
  .left:last-child {
    margin-right: 0; }

.right {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%; }
  .right:last-child {
    margin-right: 0; }
  .right:nth-child(2) {
    margin-right: 0; }

body {
  font-family: "museo-sans";
  font-weight: 300; }

h1 {
  display: inline-block;
  font-size: 5vw; }

h2 {
  display: inline-block;
  font-size: 3vw; }

a {
  text-decoration: none; }

#header {
  background: transparent;
  position: relative;
  width: 100%;
  z-index: 1; }
  #header::after {
    clear: both;
    content: "";
    display: table; }
  #header a {
    color: #fff; }
  #header .logo {
    width: 100%; }
  #header #branding {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 20px;
    width: 275px; }
  #header #signup {
    background-color: #e43e21;
    text-transform: uppercase;
    color: #fff;
    float: left;
    padding: 20px 30px; }
  #header #sub-menu {
    position: absolute;
    right: 0;
    top: 10px; }
    #header #sub-menu ul li {
      display: inline;
      font-size: 12px; }
  #header #menu {
    width: 690px;
    margin: 0 auto; }
    #header #menu ul li {
      display: inline;
      line-height: 125px;
      margin-right: 30px; }
      #header #menu ul li:nth-child(2) {
        margin-right: 315px; }
      #header #menu ul li:last-child {
        margin-right: 0; }

#home-hero {
  position: absolute;
  width: 100%;
  height: 800px;
  top: 0;
  left: 0;
  z-index: 0;
  background-position: center;
  text-align: center;
  height: 800px;
  background-image: url("/wp-content/themes/blankslate/images/home-hero.png"); }
  @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
    #home-hero {
      background-image: url("/wp-content/themes/blankslate/images/home-hero_2x.png");
      background-size: cover; } }
  #home-hero #site-description {
    text-align: center;
    width: 100%;
    margin-top: 70vh;
    color: #fff; }
  #home-hero p {
    line-height: 0;
    text-align: center; }
  #home-hero .cta-container {
    max-width: 68.75em;
    margin-left: auto;
    margin-right: auto; }
    #home-hero .cta-container::after {
      clear: both;
      content: "";
      display: table; }
  #home-hero .cta {
    background-color: #fff;
    line-height: 14px;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%; }
    #home-hero .cta:last-child {
      margin-right: 0; }
    #home-hero .cta:first-child {
      margin-left: 17.05961%; }

#home-leadin {
  margin-top: 560px;
  font-size: 24px;
  line-height: 36px;
  padding: 170px 50px;
  text-align: center; }

#home-anchors {
  background: #205caa;
  color: #fff;
  padding: 28px 0; }
  #home-anchors ul {
    width: 700px;
    text-align: center;
    margin: 0 auto; }
  #home-anchors li {
    display: inline;
    margin-right: 50px; }
    #home-anchors li:before {
      content: "2";
      border: 1px solid #fff;
      padding: 5px;
      border-radius: 20px;
      height: 25px;
      width: 25px;
      display: inline-block;
      margin-right: 10px; }
    #home-anchors li:first-child:before {
      content: "1"; }
    #home-anchors li:last-child {
      margin-right: 0; }
      #home-anchors li:last-child:before {
        content: "3"; }

#home-squares {
  max-width: none;
  padding: 0; }
  #home-squares .square-row {
    max-width: 68.75em;
    margin-left: auto;
    margin-right: auto;
    background-position: right;
    height: 45vw;
    max-width: none; }
    #home-squares .square-row::after {
      clear: both;
      content: "";
      display: table; }
    #home-squares .square-row > div {
      padding: 15vw 8vw 0 0;
      height: 45vw;
      margin: 0;
      width: 50%; }
    #home-squares .square-row:first-child {
      background-position: right center;
      background-image: url("images/block-underwater.png"); }
      @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
        #home-squares .square-row:first-child {
          background-image: url("images/block-underwater_2x.png");
          background-size: 55vw auto; } }
      #home-squares .square-row:first-child .left {
        background-color: #fff;
        padding-left: 8vw; }
    #home-squares .square-row:nth-child(2) {
      background-position: left center;
      background-image: url("images/block-overshoulder.png"); }
      @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
        #home-squares .square-row:nth-child(2) {
          background-image: url("images/block-overshoulder_2x.png");
          background-size: 55vw auto; } }
      #home-squares .square-row:nth-child(2) .right {
        background-color: #fff;
        padding-left: 8vw; }
    #home-squares .square-row:last-child {
      background-position: right center;
      background-image: url("images/block-underwater.png"); }
      @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
        #home-squares .square-row:last-child {
          background-image: url("images/block-underwater_2x.png");
          background-size: 55vw auto; } }
      #home-squares .square-row:last-child .left {
        background-color: #fff;
        padding-left: 8vw; }
