#footer {
  background-color: $gray-e;
  border-top: $gray-d;
  padding-top: $large-gutter-scale-size;
  padding-bottom: $gutter-scale-size;

  p {
    font-size: $large-font-size;
    line-height: $large-line-height;
    font-weight: $font-weight-medium;
    margin-bottom: $gutter-scale-size;
  }

  .right {
    @include omega(3);
    text-align: center;
  }

  form {
    input {
      display: block;

      &[type=text] {
        height: 70px;
        width: 100%;
        border: 1px solid $gray-d;
        margin-bottom: $small-gutter-scale-size;
      }

      &[type=submit] {
        @include base-button($navy, $white);
        text-transform: capitalize;
        font-size: 16px;
        width: 100%;
        margin-bottom: $gutter-scale-size;
      }
    }
  }

  .social {
    padding: 30px 35px;
    display: inline-block;
    margin-bottom: $gutter-scale-size;

    &.fb {
      background-color: $fb-blue;
    }

    &.tw {
      background-color: $tw-blue;
    }

    a {
      color: $white;
      font-size: $large-font-size;
    }
  }

  ul {
    margin-bottom: $gutter-scale-size;
    line-height: $large-line-height;
    font-weight: $font-weight-medium;
  }

  #copyright {
    @include span-columns(12);
    text-align: center;
  }

  @include media($medium-screen-up) {
    padding-top: $gutter-scale-size;
    padding-bottom: $small-gutter-scale-size;


    .right {
      text-align: left;
      padding-left: $gutter-scale-size;
    }

    .social {
      margin-bottom: $small-gutter-scale-size;
    }

    form {
      input {
        &[type=text] {
          margin-bottom: $tiny-gutter-scale-size;
        }

        &[type=submit] {
          width: auto;
        }
      }
    }

    p {
      margin-bottom: $small-gutter-scale-size;
    }
  }
}