// $visual-grid: true;
@import "../neat/neat-helpers"; // or "../neat/neat-helpers" when not in Rails

// Neat Overrides
$gutter: em(60);
$grid-columns: 12;
$max-width: em(1600);

// Neat Breakpoints
$medium-screen: em(768);
$large-screen: em(860);

$medium-screen-up: new-breakpoint(min-width $medium-screen 12);
$large-screen-up: new-breakpoint(min-width $large-screen 12);
$medium-screen-only: new-breakpoint(min-width $medium-screen max-width $large-screen);
