#header {
  @include clearfix;
  background: transparent;
  position: relative;
  width: 100%;
  z-index: 1;

  #desktop-nav {
    display: none;

    @include media($medium-screen-up) {
      display: block;
    }
  }

  a {
    color: $white;
  }

  .logo {
    width: 100%;
  }

  #branding {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 20px;
    width: 275px;
  }

  #signup {
    background-color: $red;
    text-transform: uppercase;
    color: $white;
    float: left;
    padding: 20px 30px;
  }

  #sub-menu {
    position: absolute;
    right: 0;
    top: 10px;
    ul {
      li {
        display: inline;
        font-size: $small-font-size;
      }
    }
  }

  #menu {
    width: 690px;
    margin: 0 auto;

    ul {
      li {
        display: inline;
        line-height: 125px;
        margin-right: 30px;

        &:nth-child(2) {
          margin-right: 315px;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

#mobile-nav {
  .sliding-panel-content {
    $action-color: #477DCA !default;
    $dark-gray: #333 !default;
    $sliding-panel-border-color: $dark-gray;
    $sliding-panel-background: lighten($sliding-panel-border-color, 5%);
    $sliding-panel-color: #fff;
    $sliding-panel-border: 1px solid $sliding-panel-border-color;
    $sliding-panel-background-hover: $action-color;
    $sliding-panel-color-hover: #fff;
    $sliding-panel-background-focus: lighten($sliding-panel-background, 5%);

    @include position(fixed, 0 auto 0 0);
    @include size(220px 100%);
    background: $sliding-panel-background;
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
    transform: translateX(-220px);
    transition: all 0.25s linear;
    z-index: 999999;

    ul {
      padding: 0;
      margin: 0;
    }

    li {
      list-style: none;
    }

    li a {
      border-bottom: $sliding-panel-border;
      color: $sliding-panel-color;
      display: block;
      font-weight: bold;
      padding: 1em;
      text-decoration: none;

      &:focus {
        background-color: $sliding-panel-background-focus;
      }

      &:hover {
        background-color: $sliding-panel-background-hover;
        color: $sliding-panel-color-hover;
      }
    }

    &.is-visible {
      transform: translateX(0);
    }
  }

  .sliding-panel-fade-screen {
    @include position(fixed, 0);
    background: black;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    visibility: hidden;
    z-index: 999998;

    &.is-visible {
      opacity: 0.4;
      visibility: visible;
    }
  }

  .sliding-panel-button {
    cursor: pointer;
    display: inline-block;
    outline: none;
    padding: 10px 16px;
    position: relative;

    img {
      height: 1.3em;
    }
  }

  @include media($medium-screen-up) {
    display: none;
  }
}