#header {
  @include clearfix;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  z-index: 11;

  @include media($medium-screen-up) {
    @include retina-image('images/wave-header-top', 100%);
    background-size: 100%;
    position: fixed;
    left: 0;
  }

  #desktop-nav {
    display: none;

    .signup {
      @include background-image(linear-gradient($light-red 0, $red 50%));
      text-transform: uppercase;
      letter-spacing: $small-letter-spacing;
      color: $white;
      float: left;
      padding: 20px 30px;
      left: 20px;
      top: 0;
      position: absolute;
    }

    @include media($medium-screen-up) {
      display: block;
    }
  }

  a {
    color: $white;
  }

  .logo {
    width: 100%;
  }

  #branding {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 70px;
    width: 275px;
  }

  #sub-menu {
    position: absolute;
    right: 15px;
    top: .6vw;

    li {
      display: inline;
      font-size: $small-font-size;
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    }

    a {
      color: $link-color;
    }
  }

  #menu {
    width: 760px;
    margin: 0 auto;

    ul {
      margin-top: 110px;

      li {
        display: inline;
        margin-right: 30px;
        font-weight: $font-weight-bold;
        text-transform: uppercase;

        &:nth-child(2) {
          margin-right: 375px;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  #mobile-nav {
    background-color: $white;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 1px solid $gray-d;
    width: 100%;

    .logo {
      width: 95px;
      margin: 12px;
    }

    .sliding-panel-button {
      float: right;
      text-align: center;
      color: $navy;
      transition: all 0.25s linear;
      cursor: pointer;
      display: inline-block;
      outline: none;
      padding: 15px;
      position: relative;

      &:before {
        font-size: $large-font-size;
      }

      &:after {
        margin-top: $tiny-gutter-scale-size;
        content: "Menu";
        display: block;
        font-family: $base-font;
      }

      i {
        font-size: $block-font-size;
      }

      .fa-bars {
        display: block;
      }

      .fa-close {
        display: none;
      }

      &.is-visible {
        background-color: $blue;
        color: $white;
        &:after {
          content: "Close";
        }

        .fa-bars {
          display: none;
        }

        .fa-close {
          display: block;
        }
      }
    }

    .sliding-panel-content {
      @include position(fixed, 0 auto 0 0);
      @include size(100% 100%);
      background: $blue;
      -webkit-overflow-scrolling: touch;
      overflow-y: auto;
      transform: translateX(800px);
      transition: all 0.25s linear;
      z-index: 999999;
      margin-top: 66px;
      text-transform: uppercase;
      text-align: center;
      padding-top: 35px;
      letter-spacing: 5px;

      ul {
        padding: 0;
        margin: 0;
      }

      li {
        list-style: none;
      }

      li a {
        display: block;
        font-weight: bold;
        padding: $gutter-scale-size;
        text-decoration: none;
      }

      &.is-visible {
        transform: translateX(0);
      }
    }

    .secondary-menu-item {
      font-size: $small-font-size;
      text-transform: capitalize;
      font-weight: $font-weight-medium;
    }

    .signup {
      @include background-image(linear-gradient($light-red 0, $red 50%));
      font-weight: $font-weight-medium;
      bottom: 64px;
      position: absolute;
      width: 100%;
    }

    .sliding-panel-fade-screen {
      @include position(fixed, 0);
      background: black;
      opacity: 0;
      transition: all 0.2s ease-in-out;
      visibility: hidden;
      z-index: 999998;

      &.is-visible {
        visibility: visible;
      }
    }

    @include media($medium-screen-up) {
      display: none;
    }
  }

  &.scroll-header {
    background-color: $white;
    border-bottom: 1px solid $gray-d;

    #menu ul {
      margin-left: -30px;
      margin-top: 0;
      li {
        line-height: 53px;
        a {
          color: $blue;
        }

        &:nth-child(2) {
          margin-right: 100px;
        }
      }
    }

    .menu-menu-1-container {
      display: table;
      margin: 0 auto;
    }


    #sub-menu {
      top: 18px;
    }

    #branding {
      top: 10px;
      height: 30px;
      @include retina-image('images/glyph-logo', 29px);
      background-repeat: no-repeat;
      background-position: center;
      width: 30px;
      img {
        display: none;
      }
    }
  }
}
