#header {
  @include clearfix;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  z-index: 11;

  @include media($medium-screen-up) {
    @include retina-image('images/wave-header-top', 100%);
    background-size: 100%;
    position: fixed;
    left: 0;
  }

  #desktop-nav {
    display: none;

    @include media($medium-screen-up) {
      display: block;
    }
  }

  a {
    color: $white;
  }

  .logo {
    width: 100%;
  }

  #branding {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 70px;
    width: 275px;
  }

  #signup {
    @include background-image(linear-gradient($light-red 0, $red 50%));
    text-transform: uppercase;
    letter-spacing: $small-letter-spacing;
    color: $white;
    float: left;
    padding: 20px 30px;
    left: 20px;
    position: absolute;
  }

  #sub-menu {
    position: absolute;
    right: 15px;
    top: .6vw;

    li {
      display: inline;
      font-size: $small-font-size;
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    }

    a {
      color: $link-color;
    }
  }

  #menu {
    width: 785px;
    margin: 0 auto;

    ul {
      li {
        display: inline;
        line-height: 225px;
        margin-right: 30px;
        font-weight: $font-weight-bold;
        text-transform: uppercase;

        &:nth-child(2) {
          margin-right: 335px;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  #mobile-nav {
    background-color: $white;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 1px solid $gray-d;
    width: 100%;

    .logo {
      width: 95px;
      margin: 12px;
    }

    .sliding-panel-button {
      float: right;
      text-align: center;
      color: $navy;

      &:before {
        font-size: $large-font-size;
      }

      &:after {
        margin-top: $tiny-gutter-scale-size;
        content: "Menu";
        display: block;
        font-family: $base-font;
      }
    }

    .sliding-panel-content {
      $action-color: #477DCA !default;
      $dark-gray: #333 !default;
      $sliding-panel-border-color: $dark-gray;
      $sliding-panel-background: lighten($sliding-panel-border-color, 5%);
      $sliding-panel-color: #fff;
      $sliding-panel-border: 1px solid $sliding-panel-border-color;
      $sliding-panel-background-hover: $action-color;
      $sliding-panel-color-hover: #fff;
      $sliding-panel-background-focus: lighten($sliding-panel-background, 5%);

      @include position(fixed, 0 auto 0 0);
      @include size(220px 100%);
      background: $sliding-panel-background;
      -webkit-overflow-scrolling: touch;
      overflow-y: auto;
      transform: translateX(-220px);
      transition: all 0.25s linear;
      z-index: 999999;

      ul {
        padding: 0;
        margin: 0;
      }

      li {
        list-style: none;
      }

      li a {
        border-bottom: $sliding-panel-border;
        color: $sliding-panel-color;
        display: block;
        font-weight: bold;
        padding: 1em;
        text-decoration: none;

        &:focus {
          background-color: $sliding-panel-background-focus;
        }

        &:hover {
          background-color: $sliding-panel-background-hover;
          color: $sliding-panel-color-hover;
        }
      }

      &.is-visible {
        transform: translateX(0);
      }
    }

    .sliding-panel-fade-screen {
      @include position(fixed, 0);
      background: black;
      opacity: 0;
      transition: all 0.2s ease-in-out;
      visibility: hidden;
      z-index: 999998;

      &.is-visible {
        opacity: 0.4;
        visibility: visible;
      }
    }

    .sliding-panel-button {
      cursor: pointer;
      display: inline-block;
      outline: none;
      padding: 10px 16px;
      position: relative;

      img {
        height: 1.3em;
      }
    }

    @include media($medium-screen-up) {
      display: none;
    }
  }

  &.scroll-header {
    background-color: $white;
    border-bottom: 1px solid $gray-d;

    #menu ul li {
      line-height: 53px;
      a {
        color: $blue;
      }
    }

    #sub-menu {
      top: 18px;
    }

    #branding {
      top: 10px;
      height: 30px;
      @include retina-image('images/glyph-logo', 29px);
      background-repeat: no-repeat;
      background-position: center;
      img {
        display: none;
      }
    }
  }
}
