#wrapper {
  padding: 0 20px;
  position: relative;
}

.container {
  @include outer-container;
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 20px;

  @include media($medium-screen-up) {
    padding: 0 60px;
  }
}

.mobile-only {
  @include media($medium-screen-up) {
    display: none!important;
  }
}

.left {
  @include span-columns(12);

  @include media($medium-screen-up) {
    @include span-columns(6);
  }
}

.right {
  @include span-columns(12);

  @include media($medium-screen-up) {
    @include span-columns(6);
    @include omega(2);
  }
}