body{
  font-family: $base-font;
  font-weight: $font-weight-light;
}

h1 {
  display: inline-block;
  font-size: $header-1;
}

h2 {
  display: inline-block;
  font-size: $header-2;
}

a {
  text-decoration: none;
}