$red: #e43e21;
$white: #fff;

$base-font: "museo-sans";
$font-weight-light: 300;
$font-weight-medium: 500;
$font-weight-bold: 700;

$small-font-size: 12px;
$base-font-size: 14px;
$header-1: 5vw;
$bottom-vh: 70vh;

$line-height-0: 14px;