$red: #e43e21;
$white: #fff;
$blue: #205caa;
$navy: #104385;
$gray-e: #e8ecee;
$gray-d: #d8d8e2;
$base-text-color: #636367;

$base-font: "museo-sans";
$font-weight-light: 300;
$font-weight-medium: 500;
$font-weight-bold: 700;

$small-font-size: 12px;
$base-font-size: 14px;
$large-font-size: 24px;
$large-line-height: 36px;
$header-1: 5vw;
$header-2: 3vw;

$bottom-vh: 70vh;
$base-spacing: 50px;
$half-base-spacing: 28px;
$quarter-base-spacing: 10px;
$small-scale-size: 25vw;
$base-scale-size: 45vw;
$large-scale-size: 80vw;
$small-gutter-scale-size: 2vw;
$gutter-scale-size: 8vw;
$large-gutter-scale-size: 15vw;
$max-container-width: 1600px;

$line-height-0: 14px;