$red: #e43e21;
$light-red: #eb726d;
$white: #fff;
$light-blue: #43aae0;
$blue: #205caa;
$navy: #104385;
$dark-navy: #08346c;
$gray-7: #7b7b7b;
$gray-c: #c8c8c8;
$gray-e: #e8ecee;
$gray-d: #d8d8e2;
$base-text-color: #636367;
$link-color: $gray-7;
$fb-blue: #3b5998;
$tw-blue: #55acee;

$base-font: "museo-sans";
$font-weight-light: 300;
$font-weight-medium: 500;
$font-weight-bold: 700;

$small-font-size: 12px;
$small-letter-spacing: 1px;
$base-font-size: 14px;
$base-line-height: 18px;
$block-font-size: 18px;
$block-line-height: 30px;
$large-font-size: 24px;
$large-font-line-height: 32px;
$scale-font-1: 4vw;
$scale-font-1-mobile: 5vw;
$scale-font-2-line-height-mobile: 6vw;
$scale-font-2: 2vw;
$scale-font-2-line-height: 3vw;

$bottom-vh: 60vh;
$small-scale-size: 25vw;
$base-scale-size: 45vw;
$large-scale-size: 80vw;
$x-large-scale-size: 100vw;
$tiny-gutter-scale-size: 1vw;
$small-gutter-scale-size: 2vw;
$gutter-scale-size: 5vw;
$large-gutter-scale-size: 15vw;

$line-height-0: 14px;